@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    
    padding: 0px;
    margin: 0px;
    
}

header {
    background-image: url("images/Maps.png");
    width: 1000px;
    height: 1470px;
    background-size: cover;
    background-position: center;
}

.img {
    width: 1000px;
    height: auto;
}

.button {
    background-color: #000;
    width: 750px;
    height: 180px;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 10px;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #D5966C;
    border: 2.5px solid #D5966C;
    width: 750px;
    height: 180px;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 10px;
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color: white;
    cursor: pointer; 
}

.section1 {
    background-color: #000;
    height: 1300px;
    width: 1000px;
}

.section1 h1 {
    color: white;
    font-family: "Big Shoulders Display";
    font-size: 160px;
    padding-top: 110px;
    line-height: 180px;
    font-weight: 800;
    margin-left: 60px;
}

.section1 h2 {
    color: #D5966C;
    font-family: "Big Shoulders Display";
    font-size: 100px;
    padding-top: 100px;
    line-height: 180px;
    padding-bottom:70px;
    font-weight: 800;
    margin-left: 60px;
}

.section1 h5 {
    color: white;
    font-family: "Outfit";
    font-weight: 200;
    font-size: 45px;
    padding-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.section2 {
    background-color: #D5966C;
    width: 1000px;
    height: 790px;
}

.section2 h1 {
    color: #000;
    font-family: "Big Shoulders Display";
    font-size: 70px;
    padding-top: 90px;
    line-height: 70px;
    padding-bottom:70px;
    font-weight: 800;
    margin-left: 60px;
}

.section2 h5 {
    font-family: "Outfit";
    font-weight: 200;
    font-size: 47px;
    color: #000;
    padding-left: 60px;
}

.img3 {
    width: 70px;
    height: auto;
    margin-left: 50px;
    padding-top: 50px;
}