@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    
    padding: 0px;
    margin: 0px;
    
}


.sml_img {
    background-image: url('images/Rectangle-2.jpg');
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 640px;
}


.header p {
    font-family: "Outfit";
    font-weight: 200;
    font-size: 48px;
}

.header h1 {
    
    font-family: "Big Shoulders Display";
    font-size: 200px;
    padding-top: 70px;
    line-height: 180px;
    padding-bottom:70px;
    font-weight: 800;
}

.main_text h1 {
    font-family: "Big Shoulders Display";
    font-size: 160px;
    padding-top: 70px;
    line-height: 180px;
    padding-bottom:70px;
    font-weight: 800;
    width: 1000px;
}

main {
    margin-left: 35px;
    margin-right: 35px;
}

.main_text p {
    font-family: "Outfit";
    font-weight: 200;
    font-size: 42px;
    padding-bottom: 50px;
}

button {
    margin-top: 70px;
    background-color: #000;
    width: 750px;
    height: 180px;
    margin-bottom: 300px;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 10px;
    font-family: "Big Shoulders Display";
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #D5966C;
    border: 2.5px solid #D5966C;
    width: 750px;
    height: 180px;
    margin-bottom: 300px;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 10px;
    font-family: "Big Shoulders Display";
    color: white;
    cursor: pointer; 
}

.img {
    background-image: url('images/Rectangle\ Copy\ 6.jpg');
    background-size: cover;
    background-position: center;
    width: 930px;
    height: 800px; 
}

.img2 {
    background-image: url('images/Rectangle\ Copy\ 6\ copy.jpg');
    background-size: cover;
    background-position: center;
    width: 925px;
    height: 1300px;
    margin-bottom: 35px;
}

.img3 {
    background-image: url('images/Rectangle\ Copy\ 5.jpg');
    background-size: cover;
    background-position: center;
    width: 925px;
    height: 545px;
    margin-bottom: 35px;
}

.black_box {
    background-color: #000;
    width: 925px;
    height: 840px;
}

.black_box h1 {
    color: white;
    font-family: "Big Shoulders Display";
    font-size: 160px;
    padding-top: 90px;
    line-height: 180px;
    padding-bottom:70px;
    font-weight: 800;
    margin-left: 60px;
}

.black_box p {
    font-family: "Outfit";
    font-weight: 200;
    font-size: 50px;
    color: white;
    padding-left: 60px;
    
}

footer {
    background-color: #000;
    margin-top: 200px;
    width: 1000px;
    height: 790px;
}

.footer_h1 {
    color: white;
    font-family: "Big Shoulders Display";
    font-size: 40px;
    padding-top: 90px;
    line-height: 90px;
    padding-bottom:70px;
    font-weight: 800;
    margin-left: 60px;
}

.icon {
    width: 60px;
    height: auto;
    margin-left: 50px;
    padding-top: 100px;
}


.footer_p p{
    font-family: "Outfit";
    font-size: 50px;
    font-weight: 150;
    width: 900px;
    color: white;
    margin-left: 60px;
}